{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block title %}
{% endblock title %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--Navbar Starts Here-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Chatbots</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Home and MoviesApp links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link active" href="/watson">Watsonx Assistant </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="https://copilotstudio.microsoft.com/environments/Default-ef4a684e-81b5-491c-a98e-c7b31be6c469/bots/cr6c2_chatbotTurismo/canvas?__version__=2">Microsoft Bot Framework (Web demostración)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="https://web.telegram.org/k/#@Dialogflow_Tourism_Bot">Dialogflow (Telegram)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="https://www.facebook.com/profile.php?id=61557703996342">Amazon Lex (Facebook)</a>
              </li>
            </ul>
        </div>
      </nav>
  </head>
  <img src="{% static '/static-web-view.png' %}" alt="Static web image">
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>

<script>
    window.watsonAssistantChatOptions = {
      integrationID: "7109e096-dd51-4b9a-8a1d-356f5d637064", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "36f11851-f5e7-4ee0-9c77-f1bccbf138f0", // The ID of your service instance.
      onLoad: async (instance) => { await instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
</script>